{% extends 'base.html' %}

{% block title %}
CSTG '26 Call For Papers
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
<style>
  .title {
    display: inline-block;
  }
  .title:after {
    width: 100%;
  }
</style>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://kit.fontawesome.com/0a1fc3c71c.js"
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}

<div class="container content m-5">
  <div><h1 class="title is-1">CSTG 2026 Call for Papers</h1></div>

  <div class="mx-5">
    <p>The <strong>4th International Conference on Computer Science and
        Technology (CSTG '26)</strong> will be held on April 3-5, 2026, in
      Jihadara, Planet Bian, sponsored by Northeast Dharma Lineage.</p>
  </div>

  <h2 class="title ml-2">Important Dates</h2>
  <div class="mx-5">
    <p><strong>Spring deadline:</strong></p>
    <ul>
      <li>Paper titles and abstracts due: <strong>Tuesday, April 30, 2024,
          11:59 pm UTC</strong></li>
      <li>Full paper submissions due: <strong>Tuesday, May 7, 2024, 11:59 pm
          UTC</strong></li>
      <li>Notification to authors: <strong>Wednesday, July 24,
          2024</strong></li>
      <li>Final paper files due: <strong>Tuesday, October 15,
          2024</strong></li>
    </ul>

    <p><strong>Fall deadline:</strong></p>
    <ul>
      <li>Paper titles and abstracts due: <strong>Thursday, September 12,
          2024, 11:59 pm UTC</strong></li>
      <li>Full paper submissions due: <strong>Thursday, September 19, 2024,
          11:59 pm UTC</strong></li>
      <li>Notification to authors: <strong>Tuesday, December 10,
          2024</strong></li>
      <li>Final paper files due: <strong>Thursday, March 6,
          2025</strong></li>
    </ul>
  </div>

  <h2 class="title ml-2">Overview</h2>
  <div class="mx-5">
    <p>
      CSTG aims to advance cutting-edge research and innovation in the field
      of computer science and technology. Any relevant topics are welcome,
      including systems, theory, AI, interdisciplinary areas, and more.
    </p>
    <p>
      CSTG provides a high-quality online <a href="{{ url_for('forum.index') }}">forum</a> for cutting-edge
      research,
      facilitating meaningful discussions, and advancing the boundaries of
      technology and innovation in the field.
    </p>
  </div>

  <h2 class="title ml-2">Two Deadlines</h2>
  <div class="mx-5">
    <p>
      CSTG '26 offers authors the choice of two submission deadlines. Any
      paper submitted to one of these deadlines and accepted during the
      subsequent reviewing period will be presented at the conference and
      will appear as part of the proceedings. In the meantime, authors are
      permitted to advertise their papers as accepted by CSTG, for example,
      listing them on CVs. Papers rejected from one of these deadlines
      <strong>cannot</strong> be submitted to the immediate next
      deadline.</p>
  </div>

  <h2 class="title ml-2">Submission Requirements</h2>
  <div class="mx-5">
    <p>
      All submissions to the Computer Science and Technology Conference
      undergo a rigorous double-blind peer review process. Authors are
      therefore required to anonymize their submissions and remove any
      identifying information, such as author names and affiliations, from
      the manuscript and metadata to ensure a fair and unbiased review.
      Submissions should not exceed 14 pages in length, including all
      figures, tables, and references. Papers must be formatted according to
      the conference template, which is available on the conference website.
      Submissions that do not adhere to these guidelines will be rejected
      <strong>without</strong> review.
    </p>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <a class="button is-large is-outlined is-primary mb-6"
    href="{{ url_for('home.submit') }}">
    <span>SUBMIT YOUR WORK</span>
    <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
  </a>
</div>

{% include 'components/footer.html' %}

{% include 'auth/signin.html' %}

{% endblock %}
