{% extends 'base.html' %}

{% block title %}
CSTG '26 Home
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
<link rel="stylesheet"
  href="https://cdn.bootcdn.net/ajax/libs/Swiper/3.3.1/css/swiper.css">
{% endblock %}

{% block script %}
<script
  src="https://cdn.bootcdn.net/ajax/libs/Swiper/3.3.1/js/swiper.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://kit.fontawesome.com/0a1fc3c71c.js"
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}

<div class="block">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='images/scenery-1.jpg') }}"
          width="100%" alt="Scenery 1">
      </div>
      <div class="swiper-slide">
        <img src="{{ url_for('static', filename='images/scenery-2.jpg') }}"
          width="100%" alt="Scenery 2">
      </div>
    </div>
    <div class="swiper-button-next">
      <span class="icon">
        <i class="fa-solid fa-chevron-right"></i>
      </span>
    </div>
    <div class="swiper-button-prev">
      <span class="icon">
        <i class="fa-solid fa-chevron-left"></i>
      </span>
    </div>
    <div class="canvas">
      <div class="title is-1"
        style="color: whitesmoke; text-align: center">CSTG 2026</div>
      <div class="title is-1"
        style="color: whitesmoke; text-align: center">The 4th International
        Conference on Computer Science and Technology</div>
      <div class="subtitle is-4"></div>
      <div class="subtitle is-4"
        style="color: whitesmoke; text-align: center">April 3-5, 2026
        <strong style="color: whitesmoke">·</strong> Jihadara, Planet
        Bian</div>
    </div>
  </div>
</div>

<div class="block block-display">
  <div class="container container-display">
    <div class="title is-2">CSTG 2026</div>
    <div class="content" style="padding: 0 100px; font-size: 1.1rem">
      <p>
        The 4th International Conference on Computer Science and Technology
        (CSTG 2026) will be held in Jihadara, Planet Bian during April 3-5,
        2026. CSTG 2026 is organized by the Computer Science and Technology
        Committee, and co-organized by the Computer Science and Technology
        Society. The conference is an international forum for the
        presentation of technological advances and research results in the
        fields of Computer Science and Technology. The conference will bring
        together leading researchers, engineers and scientists in the domain
        of interest from around the world.
      </p>
      <p>
        We warmly welcome prospective authors to submit research papers to
        CSTG 2026, and share the valuable experiences with the scientists
        and scholars around the world. For details about paper submission,
        please refer to the <a href="../content/call_for_papers.html">Call
          For Papers</a> section.
      </p>
    </div>
  </div>
</div>

<div id="venue" class="block block-display">
  <div class="container container-display">
    <div class="title is-2">Venue</div>
    <div class="level"
      style="background-color: rgb(0, 173, 147); margin: 0 80px; font-size: 1.1rem">
      <div class="level-item" style="padding: 0 80px">
        <p>
          <strong style="color: whitesmoke">
            Jihadara is a city located on Planet Bian, which is the third
            planet in the Solar System. The city is known for its beautiful
            scenery and pleasant climate. Jihadara is a popular tourist
            destination, attracting visitors from all over the world. The
            city is also home to a number of research institutions and
            universities, making it an ideal location for the conference.
          </strong>
        </p>
      </div>
      <div class="level-item">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.770247216238!2d124.33437853551746!3d43.16535929634661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5e3a292cdb9a419b%3A0xf7b780d0a35d85b3!2sHong%20Xin%20Cha%20Yu%20Club!5e0!3m2!1sen!2sca!4v1716031964877!5m2!1sen!2sca"
          style="border:0; width: 100%; height: 400px" allowfullscreen
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

<div id="organizers" class="block block-display">
  <div class="container container-display">
    <div class="title is-2">Organizers</div>
    <div class="columns" style="margin-top: 10px">
      <div class="column">
        <a class="card" href="https://github.com/CS-icez">
          <div class="container-display">
            <div class="image">
              <img src="{{ url_for('static', filename='images/wode.jpg') }}"
                alt="Wode" style="width: 150px; height: 200px">
            </div>
            <div class="content" style="text-align: center">
              <h2 style="margin-top: 20px; margin-bottom: 10px">Wode</h2>
              <p>Wodeism Group<br>Program Chair</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="card" href="https://github.com/qts0312">
          <div class="container-display">
            <div class="image">
              <img src="{{ url_for('static', filename='images/peter.jpg') }}"
                alt="Peter" style="width: 150px; height: 200px">
            </div>
            <div class="content" style="text-align: center">
              <h2 style="margin-top: 20px; margin-bottom: 10px">Peter</h2>
              <p>Peking University<br>Program Chair</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="card" href="https://github.com/Zhushibuyi">
          <div class="container-display">
            <div class="image">
              <img src="{{ url_for('static', filename='images/snakeman.jpg') }}"
                alt="W.Snakeman" style="width: 150px; height: 200px">
            </div>
            <div class="content" style="text-align: center">
              <h2
                style="margin-top: 20px; margin-bottom: 10px">W.Snakeman</h2>
              <p>Northeast Legacy<br>Program Chair</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="card" href="#">
          <div class="container-display">
            <div class="image">
              <img src="{{ url_for('static', filename='images/foot.jpg') }}"
                alt="Foot" style="width: 150px; height: 200px">
            </div>
            <div class="content" style="text-align: center">
              <h2 style="margin-top: 20px; margin-bottom: 10px">Foot</h2>
              <p>the GPA<br>Tech. Program Chair</p>
            </div>
          </div>
        </a>
      </div>
      <div class="column">
        <a class="card" href="#">
          <div class="container-display">
            <div class="image">
              <img src="{{ url_for('static', filename='images/iceman.jpg') }}"
                alt="Iceman" style="width: 150px; height: 200px">
            </div>
            <div class="content" style="text-align: center">
              <h2 style="margin-top: 20px; margin-bottom: 10px">Iceman</h2>
              <p>Marvel<br>Tech. Program Chair</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div style="display: flex; align-items: flex-end">
      <a><button id="showAllOrganizers"><strong>Show
            All</strong></button></a>
    </div>

    <div id="organizersList" class="box container-display"
      style="width: 60%; margin-top: 20px; display: none">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Wode</th>
            <td>Wodeism Group</td>
            <td>Program Chair</td>
          </tr>
          <tr>
            <th>Peter</th>
            <td>Peking University</td>
            <td>Program Chair</td>
          </tr>
          <tr>
            <th>W.Snakeman</th>
            <td>Northeast Legacy</td>
            <td>Program Chair</td>
          </tr>
          <tr>
            <th>Foot</th>
            <td>the GPA (Golden Pants Army)</td>
            <td>Technical Program Chair</td>
          </tr>
          <tr>
            <th>Iceman</th>
            <td>Marvel Company</td>
            <td>Technical Program Chair</td>
          </tr>
          <tr>
            <th>Gao</th>
            <td>Byte Dance & Northeast Legacy</td>
            <td>Technical Program Chair</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="sponsor" class="block block-display">
    <div class="container container-display">
      <div class="title is-2">Sponsorship</div>
      <div class="subtitle is-4"
        style="margin-top: 30px; margin-bottom: 0">Golden Sponsors</div>
      <img src="{{ url_for('static', filename='images/legacy.png') }}"
        alt="Sponsor 1" style="width: 30%">
      <div class="content"
        style="padding: 0 100px; font-size: 1.1rem; margin-top: 20px">
        <p>
          <strong>To Become A Sponsor:</strong> Sponsorship funds our
          diversity scholarships and the community’s work, and keeps ticket
          prices affordable. In exchange, we provide unique opportunities to
          reach a wide range of developers and other professionals. We craft
          custom packages for each sponsor and will work with you to make
          sure you get the most out of your sponsorship. If you are
          interested in sponsoring CSTG 2026, please contact us at
          <a>cstg2026@gmail.com</a>.
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'components/footer.html' %}

{% include 'auth/signin.html' %}

{% endblock %}
