<footer id="footer" class="footer" style="height: 200px; margin-top: 100px">
  <div class="content has-text-centered" style="font-size: 1.2rem">
    <p style="color: #8a8a8a">© CSTG 2026</p>
    <p style="color: #8a8a8a">
      Contact Us
      &nbsp;
      <span class="icon" style="font-size: 2rem"><a><i
            class="fa-brands fa-github"></i></a></span>
      &nbsp;
      <span class="icon" style="font-size: 2rem"><a><i
            class="fa-brands fa-x-twitter"></i></a></span>
      &nbsp;
      <span class="icon" style="font-size: 2rem"><a><i
            class="fa-brands fa-instagram"></i></a></span>
      &nbsp;
      <span class="icon" style="font-size: 2rem"><a><i
            class="fa-brands fa-slack"></i></a></span>
    </p>
  </div>
</footer>