<table
class="table is-bordered is-striped is-hoverable is-fullwidth is-size-5">
<tbody>
  <tr><td><div class="icon"><i class="fas fa-computer mr-1"
        style="width: 25px; color: rgb(0, 173, 147)"></i><a
        href="{{ url_for('forum.section', sec_name='General') }}"
        style="color: black"></div>General</a></td></tr>
  <tr><td><div class="icon"><i class="fas fa-lightbulb mr-1"
        style="width: 25px; color: #EF476F"></i><a
        href="{{ url_for('forum.section', sec_name='AI') }}"
        style="color: black"></div>AI</a></td></tr>
  <tr><td><div class="icon"><i class="fas fa-globe mr-1"
        style="width: 25px; color: #007bff"></i><a
        href="{{ url_for('forum.section', sec_name='Networks') }}"
        style="color: black"></div>Networks</a></td></tr>
  <tr><td><div class="icon"><i class="fas fa-microchip mr-1"
        style="width: 25px; color: blueviolet"></i><a
        href="{{ url_for('forum.section', sec_name='Architecture') }}"
        style="color: black"></div>Architecture</a></td></tr>
  <tr><td><div class="icon"><i class="fas fa-key mr-1"
        style="width: 25px; color: #FFC233"></i><a
        href="{{ url_for('forum.section', sec_name='Cryptography') }}"
        style="color: black"></div>Cryptography</a></td></tr>
</tbody>
</table>