{% extends 'base.html' %}

{% block title %}
CSTG '26 Forum
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://kit.fontawesome.com/0a1fc3c71c.js"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}

<div class="block container-display" style="margin-top: 50px;">
  <div class="title is-4">
    How to get rid of the snake in my backyard?
  </div>
</div>

<div class="block" style="margin: 50px 150px">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/wode.jpg') }}" style="width: 64px; height: 64px"/>
      </p>
    </figure>
    <div class="media-content">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ url_for('static', filename='images/peter.jpg') }}" style="width: 64px; height: 64px"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
              lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
              sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br />
              <small style="color: grey">2024-5-21</small>
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ url_for('static', filename='images/snakeman.jpg') }}" style="width: 64px; height: 64px"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
              lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
              sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br />
              <small style="color: grey">2024-5-21</small>
            </p>
          </div>
        </div>
      </article>

      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ url_for('static', filename='images/iceman.jpg') }}" style="width: 64px; height: 64px"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
              lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
              sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br />
              <small style="color: grey">2024-5-21</small>
            </p>
          </div>
        </div>
      </article>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ url_for('static', filename='images/foot.jpg') }}" style="width: 64px; height: 64px"/>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
              lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
              sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br />
              <small style="color: grey">2024-5-21</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </article>
</div>

<div style="height: 170px"></div>

<div style="position: fixed; left: 0; right: 0; bottom: 0; background-color: white; z-index: 100">
  <article class="media" style="margin: 20px 150px">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" placeholder="Reply......"></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-primary"><strong>Reply</strong></button>
        </p>
      </div>
    </div>
  </article>
</div>

{% include 'auth/signin.html' %}

{% endblock %}
