{% extends 'base.html' %}

{% block title %}
CSTG '26 Forum - General
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://kit.fontawesome.com/0a1fc3c71c.js"
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/signin.js') }}"></script>
<script src="{{ url_for('static', filename='js/section.js') }}"></script>
{% endblock %}

{% block content %}

{% include 'components/navbar.html' %}

<div class="is-flex is-justify-content-space-around">
  <div class="is-flex is-flex-direction-column" style="width: 60%">
    <div class="is-flex is-justify-content-center">
      <div class="is-flex">
        <div class="title is-2 mr-3">
          {% if sec_name == 'General' %}
          <i class="fas fa-computer"></i>
          {% elif sec_name == 'AI' %}
          <i class="fas fa-lightbulb"></i>
          {% elif sec_name == 'Networks' %}
          <i class="fas fa-globe"></i>
          {% elif sec_name == 'Architecture' %}
          <i class="fas fa-microchip"></i>
          {% elif sec_name == 'Cryptography' %}
          <i class="fas fa-key"></i>
          {% endif %}
        </div>
        <div class="title is-2 mr-6">{{ sec_name }} Section</div>
      </div>
    </div>
    {% for post in posts %}
    <div class="box">
      <div class="media">
        <div class="media-left">
          <i class="fas fa-comment mr-1"></i>{{ post[6] }}
        </div>
        <div class="media-content">
          <a href="{{ url_for('forum.post') }}">
            <div class="content">
              <strong style="color: #0090ff">{{ post[1] }}</strong>
              <br />
              <span
                style="display: inline-block; width: 400px; height: 45px; overflow: hidden; text-overflow: ellipsis;">
                {{ post[2] }}
              </span>
              <br />
              <small class="has-text-grey">{{ post[5] }}</small>
            </div>
          </a>
        </div>
        <div class="media-right has-text-grey-dark">
          <p>{{ post[4] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div style="width: 30%" id="placeholder-right"></div>
</div>

<div
  class="is-flex is-flex-direction-column is-justify-content-flex-start is-align-items-center"
  style="width: 30%;" id="fixed-right">
  <div style="height: 30px"></div>
  <table
    class="table is-bordered is-striped is-hoverable is-fullwidth is-size-5">
    <tbody>
      <tr><td><i class="fas fa-computer mr-1"
            style="width: 25px; color: #06D6A0"></i><a
            href="{{ url_for('forum.section', sec_name='General') }}"
            style="color: black">General</a></td></tr>
      <tr><td><i class="fas fa-lightbulb mr-1"
            style="width: 25px; color: #EF476F"></i><a
            href="{{ url_for('forum.section', sec_name='AI') }}"
            style="color: black">AI</a></td></tr>
      <tr><td><i class="fas fa-globe mr-1"
            style="width: 25px; color: #1B9AAA"></i><a
            href="{{ url_for('forum.section', sec_name='Networks') }}"
            style="color: black">Networks</a></td></tr>
      <tr><td><i class="fas fa-microchip mr-1"
            style="width: 25px; color: blueviolet"></i><a
            href="{{ url_for('forum.section', sec_name='Architecture') }}"
            style="color: black">Architecture</a></td></tr>
      <tr><td><i class="fas fa-key mr-1"
            style="width: 25px; color: #FFC233"></i><a
            href="{{ url_for('forum.section', sec_name='Cryptography') }}"
            style="color: black">Cryptography</a></td></tr>
    </tbody>
  </table>
  <div class="is-flex; is-justify-content-center;">
    <button class="button is-large is-outlined is-primary mb-6 js-modal-trigger"
      data-target="CreatePost">
      <span>Create a Post</span>
      <span class="icon"><i class="fas fa-edit"></i></span>
    </button>
  </div>
</div>

<!-- <div class="block container-display" style="margin-top: 50px;">
  <div class="title is-2">
    CSTG '26 Official Forum General Section
  </div>
</div>

<div class="block" style="margin: 50px 150px">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/wode.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/snakeman.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/foot.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/peter.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/iceman.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>

  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{ url_for('static', filename='images/wode.jpg') }}"
          style="width: 64px; height: 64px" />
      </p>
    </figure>
    <div class="media-content">
      <a href="{{ url_for('forum.post') }}">
        <div class="content">
          <p>
            <strong>Barbara Middleton</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            eros
            lacus, nec ultricies elit blandit non. Suspendisse pellentesque
            mauris
            sit amet dolor blandit rutrum. Nunc in tempus turpis.
            <br />
            <small style="color: grey">2024-5-21</small>
          </p>
        </div>
      </a>
    </div>
  </article>
</div>

<div style="height: 170px"></div> -->

<div class="modal" id="CreatePost">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="media">
      <div class="media-content">
        <div class="box">
          <form class="form" method="post">
            <div class="field">
              <label class="label" style="font-size: 1.5rem">Title</label>
              <div class="control">
                <input class="input" type="text" name="title" required>
              </div>
            </div>
            <div class="field">
              <label class="label" style="font-size: 1.5rem">Details</label>
              <div class="control">
                <textarea class="textarea" name="content" required></textarea>
              </div>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-primary"><strong>Submit
                  </strong></button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{% include 'auth/signin.html' %}

{% endblock %}
